@model IEnumerable<FinanzasPersonales.Models.Categoria>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Categoria2.Comentario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EstadoCategoria.Estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Moneda.Codigo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoCategoria.Tipo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comentario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Icono)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Categoria2.Comentario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EstadoCategoria.Estado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Moneda.Codigo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoCategoria.Tipo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comentario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Icono)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CategoriaID }) |
            @Html.ActionLink("Details", "Details", new { id=item.CategoriaID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CategoriaID })
        </td>
    </tr>
}

</table>
