@model FinanzasPersonales.Models.CuentaBanco

@{ 
    decimal? balance = Model.BalanceInicial;
    foreach(var transaccion in Model.Transaccion)
    {
        if(transaccion.MontoIngreso != null)
        {
            balance += transaccion.MontoIngreso;
        }
        else
        {
            balance -= transaccion.MontroEgreso;
        }
    }

    <div class="row animated fadeIn">
        <div class="col s12 m12">
            <div class="card">
                <div class="card-content grey lighten-5">
                    <span class="card-title">Balance</span>
                    <p>
                        @String.Format("{0:C2}",balance)
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row animated fadeIn">
        <div class="col s12 m12">
            <div class="card material-table">
                <div class="table-header">
                    <span class="table-title">Transacciones</span>
                    <div class="actions">
                        <a href="#dvNuevaTransaccion" class="modal-trigger waves-effect btn-flat nopadding "><i class="fa fa-plus-circle green-text"></i></a>
                        <a href="#" class="search-toggle waves-effect btn-flat nopadding"><i class="material-icons">search</i></a>
                    </div>
                </div>
                <table id="datatable">
                    <thead>
                        <tr>
                            <th>Fecha</th>
                            <th>No. Ref. Externo</th>
                            <th>Contacto</th>
                            <th>Categoria</th>
                            <th>Monto</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach(var transaccion in Model.Transaccion)
                        {
                            if (transaccion.MontoIngreso != null)
                            {
                                <tr class="green-text">
                                    <td>@transaccion.Fecha</td>

                                    <td>@(transaccion.No_Ref_Externo == null ? "" : transaccion.No_Ref_Externo)</td>

                                    <td>@(transaccion.Contacto == null ? "" : transaccion.Contacto.Nombre)</td>

                                    <td>@(transaccion.Categoria == null ? "" : transaccion.Categoria.Nombre)</td>

                                    <td>@String.Format("{0:C2}", transaccion.MontoIngreso)</td>
                                </tr>
                            }
                            else
                            {
                                <tr class="green-text">
                                    <td>@transaccion.Fecha</td>

                                    <td>@(transaccion.No_Ref_Externo == null ? "" : transaccion.No_Ref_Externo)</td>

                                    <td>@(transaccion.Contacto == null ? "" : transaccion.Contacto.Nombre) </td>

                                    <td>@(transaccion.Categoria == null ? "" : transaccion.Categoria.Nombre)</td>

                                    <td>-@String.Format("{0:C2}", transaccion.MontroEgreso)</td>
                                </tr>
                            }
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>

}