@using FinanzasPersonales.Extensions
@model FinanzasPersonales.Models.User
@{

    var Telefono = User.Identity.GetPhoneNumber();
    var Email = User.Identity.GetEmail();
    ViewBag.Title = "Dashboard";
}
<style>
.nav-wrapper {
    padding-left: 300px;
}

.sideContet {
    padding-left: 305px;
}

    .siteGreen {
        background-color: #89BF43;
    }

    .waves-effect.waves-green .waves-ripple {
        /* The alpha value allows the text and background color
     of the button to still show through. */
        background-color: rgba(137, 191, 67, 0.65);
    }

    .sideButton {
        color: #757575;
        transition: color 0.5s;
    }
    
    .sideButton:active{
        color: white
    }
</style>

<ul id="slide-out" class="side-nav fixed">
    <li>
        <div class="user-view">
            <div class="background siteGreen">
            </div>
            <a href="#!name"><span class="white-text name">@Model.Nombre @Model.Apellido</span></a>
            <a href="#!email"><span class="white-text email">@Email</span></a>
        </div>
    </li>
    <li class="sideButton"><a href="#!" class="waves-effect waves-green sideButton" id="btnResumen"><i class="material-icons">assignment</i>Resumen</a></li>
    <li class="sideButton"><a href="#!" class="waves-effect waves-green sideButton" id="btnRecordatorios"><i class="material-icons">schedule</i>Recordatorios</a></li>
    <li class="sideButton"><a href="#!" class="waves-effect waves-green sideButton" id="btnAgenda"><i class="material-icons">contacts</i>Agenda</a></li>

    <li><div class="divider"></div></li>
    <li><a class="subheader">Categorias</a></li>
    <li class="no-padding">
        <ul class="collapsible collapsible-accordion">
            <li class="">
                <a class="collapsible-header waves-effect waves-green sideButton">Cuentas de Banco<i class="material-icons">account_balance</i><i class="material-icons right">arrow_drop_down</i></a>
                <div class="collapsible-body">
                    <ul>
                        <li><a href="#divNuevaCuentaBanco" id="btnNuevaCuentaBanco" class="collapsible-header waves-effect waves-green sideButton modal-trigger">Nueva<i class="material-icons right">add_circle</i></a></li>
                        <li><a href="#!">Second</a></li>
                        <li><a href="#!">Third</a></li>
                        <li><a href="#!">Fourth</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </li>
    <li class="no-padding">
        <ul class="collapsible collapsible-accordion">
            <li class="">
                <a class="collapsible-header waves-effect waves-green sideButton">Tarjetas de credito<i class="material-icons">credit_card</i><i class="material-icons right">arrow_drop_down</i></a>
                <div class="collapsible-body">
                    <ul>
                        <li><a href="#!" id="btnNuevaTarjetaCredito" class="collapsible-header waves-effect waves-green sideButton">Nueva<i class="material-icons right">add_circle</i></a></li>
                        <li><a href="#!">Second</a></li>
                        <li><a href="#!">Third</a></li>
                        <li><a href="#!">Fourth</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </li>
    <li class="no-padding">
        <ul class="collapsible collapsible-accordion">
            <li class="">
                <a class="collapsible-header waves-effect waves-green sideButton">Prestamos<i class="material-icons">attach_money</i><i class="material-icons right">arrow_drop_down</i></a>
                <div class="collapsible-body">
                    <ul>
                        <li><a href="#!" class="collapsible-header waves-effect waves-green sideButton">Nuevo<i class="material-icons right">add_circle</i></a></li>
                        <li><a href="#!">Second</a></li>
                        <li><a href="#!">Third</a></li>
                        <li><a href="#!">Fourth</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </li>
    <li class="no-padding">
        <ul class="collapsible collapsible-accordion">
            <li class="">
                <a class="collapsible-header waves-effect waves-green sideButton">Presupuestos<i class="material-icons">pie_chart</i><i class="material-icons right">arrow_drop_down</i></a>
                <div class="collapsible-body">
                    <ul>
                        <li><a href="#!" class="collapsible-header waves-effect waves-green sideButton">Nuevo<i class="material-icons right">add_circle</i></a></li>
                        <li><a href="#!">Second</a></li>
                        <li><a href="#!">Third</a></li>
                        <li><a href="#!">Fourth</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </li>
    
    <li class="no-padding">
        <ul class="collapsible collapsible-accordion">
            <li class="">
                <a class="collapsible-header waves-effect waves-green sideButton">Reportes y Gráficas<i class="material-icons">insert_chart</i><i class="material-icons right">arrow_drop_down</i></a>
                <div class="collapsible-body">
                    <ul>
                        <li><a href="#!">Second</a></li>
                        <li><a href="#!">Third</a></li>
                        <li><a href="#!">Fourth</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </li>
    
    <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
</ul>
<div class="sideContet">


    <h2>@Telefono  @Email</h2>
    <h2>@Model.Nombre  @Model.Apellido</h2>
    <h2>@Model.Direccion  @Model.Sexo</h2>
    <h2>@User.Identity.GetMoneySaverUserID()</h2>
</div>
<div id="divNuevaCuentaBanco" class="modal modal-fixed-footer">
    <div class="modal-content">
        <h4><i class="material-icons">account_balance</i> Nueva Cuenta de banco</h4>
        <div class="divider"></div>
        <div class="row">
            <form class="col s12" id="frmNuevaCuentaBanco">
                <div class="row">
                    <div class="input-field col s12 m6">
                        <input  name="NumeroCuenta" id="NumeroCuenta" type="text" class="validate">
                        <label for="NumeroCuenta">Numero de cuenta</label>
                    </div>
                    <div class="input-field col s12 m6">
                        <input id="BalanceInicial" name="BalanceInicial" type="text" class="validate">
                        <label for="BalanceInicial">Balance Inicial</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input disabled value="I am not editable" id="disabled" type="text" class="validate">
                        <label for="disabled">Disabled</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="password" type="password" class="validate">
                        <label for="password">Password</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="email" type="email" class="validate">
                        <label for="email">Email</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                            <input type="text" id="FechaInicio" name="FechaInicio" class="datepicker">
                            <label for="FechaInicio" data-error="wrong" data-success="right">Fecha de inicio</label>

                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <textarea id="Comentario" name="Comentario" class="materialize-textarea"></textarea>
                        <label for="Comentario">Textarea</label>
                    </div>
                </div>

            </form>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Cancelar</a>
        <a data-form="frmNuevaCuentaBanco" data-url="@Url.Action("","")" href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Cancelar</a>
    </div>
</div>
@section Scripts {
   <script>
       $(document).ready(function () {
           $('.datepicker').pickadate({
               selectMonths: true, // Creates a dropdown to control month
               selectYears: 90, // Creates a dropdown of 15 years to control year,
               today: 'Today',
               clear: 'Clear',
               close: 'Ok',
               closeOnSelect: true // Close upon selecting a date,
           });
           $('.modal').modal();
           
           $(".sideButton").click(function () {
               $(this).css("color", "white");
               var that = $(this);
               setTimeout(function () { $(that).css("color", "#757575"); }, 500);
               $(this).children().each(function () {
                   var that = $(this);
                   $(this).css("color", "white");
                   setTimeout(function () { $(that).css("color", "#757575"); }, 500);
                   
               });
           })
       });
    </script>
}


