@using FinanzasPersonales.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}
<style>
    body {
        /*background: linear-gradient(to right, #56b4d3, #348f50);*/
        background-color: #ecf0f1;
    }
</style>
@using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-logo">
        <img src="~/Content/img/MoneySaver.png" width="125" height="125"  alt="Logo" />
        </div>
    <div class="form-login">
        @*<h2>@ViewBag.Title.</h2>*@
        <div class="row">
            <form class="col s12">
                <div class="row">
                    <div class="input-field col s12 m10 offset-m1">
                        <input id="icon_prefix" type="text" class="validate">
                        <label for="icon_prefix">First Name</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12 m10 offset-m1 ">
                        @Html.TextBoxFor(m => m.Email, new { @class = "validate" })
                        @Html.LabelFor(m => m.Email, new { @class = "" })
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12 m10 offset-m1">
                        @Html.PasswordFor(m => m.Password, new { @class = "validate" })
                        @Html.LabelFor(m => m.Password, new { @class = "" })
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6 m10 offset-m1">
                        <input id="icon_prefix" type="text" class="validate">
                        <label for="icon_prefix">Telefono</label>
                    </div>
                </div>
            </form>
        </div>
    </div>

}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}