@model FinanzasPersonales.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}
<style>
    body {
        /*background: linear-gradient(to right, #56b4d3, #348f50);*/
        background-color: #ecf0f1;
    }

    a {
        color: green;
    }

    #fondo-form {
    }
</style>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true,"", new { @class = "text-danger" })
    <div class="form-logo">
        <!--x<img src="~/Content/img/MoneySaver.png" width="125" height="125"  alt="Logo" />-->

    </div>

    <div class="form-login loadFadein">
        @*<h2>@ViewBag.Title.</h2>*@
        <div class="row">
            <form class="col s12" id="fondo-form">
                <div class="row">
                    <div class="col s12">
                        <img src="~/Content/img/MoneySaver.png" width="125" height="125" alt="Logo" />
                    </div>
                </div>
                <h3>Regístrate</h3>

                <!--  <div class="row">
                    <div class="input-field col s6">
                        <input id="icon_prefix" type="text" class="validate">
                        <label for="icon_prefix">First Name</label>
                    </div>
                </div>
                 -->

                

                <div class="row">
                    <div class="input-field col s6">
                        @Html.TextBoxFor(m => m.Nombre, new { @class = "validate" })
                        @Html.ValidationMessageFor(m => m.Nombre, "", new { @class = "text-  " })
                        @Html.LabelFor(m => m.Nombre, new { @class = "" })
                    </div>
                    <div class="input-field col s6">
                        @Html.TextBoxFor(m => m.Apellido, new { @class = "validate" })
                        @Html.ValidationMessageFor(m => m.Apellido, "", new { @class = "text-  " })
                        @Html.LabelFor(m => m.Apellido, new { @class = "" })
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        @Html.TextBoxFor(m => m.Email, new { @class = "validate" , type = "email"})
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        @Html.LabelFor(m => m.Email, new { @class = "" })
                    </div>
                </div>
                

                <div class="row">
                    <div class="col s12">
                        <p>
                            @Html.RadioButtonFor(x => x.Sexo, "M", new { id = "sexoMasculino" })
                            @Html.Label("sexoMasculino", "Hombre")
                            @Html.RadioButtonFor(x => x.Sexo, "F", new { id = "sexoFemenino" })
                            @Html.Label("sexoFemenino", "Mujer")
                        </p>

                        @Html.ValidationMessageFor(m => m.Sexo, "", new { @class = "text-danger" })


                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        @Html.PasswordFor(m => m.Password, new { @class = "validate" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        @Html.LabelFor(m => m.Password, new { @class = "" })
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "validate" })
                        @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "" })
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        @Html.TextAreaFor(m => m.Direccion, new { @class = "materialize-textarea" })
                        @Html.LabelFor(m => m.Direccion, new { @class = "" })
                        @Html.ValidationMessageFor(m => m.Direccion, "", new { @class = "text-danger" })
                        
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "validate" })
                        @Html.ValidationMessageFor(m => m.PhoneNumber, "", new { @class = "text-danger" })
                        @Html.LabelFor(m => m.PhoneNumber, new { @class = "" })
                    </div>
                </div>
                <!--   <div class="row">
                      <div class    ="input-field col s6">
                          <input id="icon_prefix" type="text" class="validate">
                          <label for="icon_prefix">Telefono</label>
                      </div>
                  </div>
                   -->
                <div class="row">
                    <button type="submit" class="waves-effect waves-light btn green">Crear cuenta</button>
                </div>
            </form>
        </div>

    </div>



}

        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
