@model FinanzasPersonales.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="section no-pad-bot" id="index-banner">
        <div class="container">
            <div class="row">
                <center>
                    <div class="col s2"></div>
                    <div class="col s8">
                        <div class="card">
                            <div class="card-image waves-effect waves-block waves-light">
                                <img class="activator" src="images/office.jpg">
                            </div>
                            <div class="card-content">
                                <span class="card-title activator grey-text text-darken-2">REGISTRATE</span>
                                <div class="row">
                                    <form class="col s12">
                                        <div class="row">
                                            <div class="input-field col s12">
                                                <i class="material-icons prefix">person</i>
                                                @*<input id="name" type="text" class="validate">*@
                                                @Html.TextBoxFor(m=> m.Nombre, new { @class = "validate" })
                                                <label for="name">Nombre completo</label>
                                            </div>
                                            <div class="input-field col s12">
                                                <i class="material-icons prefix">cake</i>
                                                <input id="fecha-nacimiento" type="date" class="validate">
                                                
                                            </div>
                                            <div class="input-field col s12">
                                                <div class="input-field col s1">
                                                    <i class="material-icons prefix">wc</i>
                                                    @*<input class="with-gap" name="group3" type="radio" id="hombre" />*@
                                                    @Html.RadioButtonFor(m => m.Sexo, "F", new {@class= "", @id="Femenino" })
                                                    <label for="Femenino">Femenino</label>
                                                </div>
                                                <div class="input-field col s7">
                                                    @*<input class="with-gap" name="group4" type="radio" id="mujer" />*@
                                                    @Html.RadioButtonFor(m => m.Sexo, "M", new {@class= "", @id="Masculino" })                                                  
                                                    <label for="Masculino">Masculino</label>
                                                </div>
                                            </div>           
                                            <br />
                                            <p>.    </p>
                                            <div class="input-field col s12">
                                                <i class="material-icons prefix">local_post_office</i>
                                                @*<input id="correo" type="text" class="validate">*@
                                                @Html.TextBoxFor(m => m.Email, new {@class="validate", @type="email" })
                                                <label for="correo">Correo electronico</label>
                                            </div>
                                            <div class="input-field col s12">
                                                <i class="material-icons prefix">account_circle</i>
                                                <input id="first_name" type="text" class="validate">
                                                
                                                <label for="first_name">Usuario</label>
                                            </div>

                                            <div class="input-field col s12">
                                                <div class="input-field col s6">
                                                    <i class="material-icons prefix">lock</i>
                                                    @*<input id="last_name" type="password" class="validate">*@
                                                    @Html.PasswordFor(m => m.Password, new {@class= "validate " })
                                                    <label for="last_name">Contraseña</label>
                                                </div>
                                                <div class="input-field col s5">
                                                    @*<input id="last_name" type="password" class="validate">*@
                                                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "validate " })
                                                    <label for="last_name">Confirmar contraseña</label>
                                                </div>
                                            </div>
                                        </div>
                                        <button class="btn waves-effect blue darken-1" type="submit" value="Register">GUARDAR                                       
                                            <i class="material-icons right">send</i>
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col s3"></div>
                </center>
            </div>
        </div>
    </div>



}

        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
