<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <nav>
        <div class="nav-wrapper">
            <div class="container">
                
                <ul>
                    <li>
                        <img src="~/Content/img/MoneySaver.png" width="60" height="60" alt="Logo" />
                    </li>
                    <li class="left hide-on-med-and-down">
                        <a class="brand-logo"> @Html.ActionLink("MONEY SAVER", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })</a>
                    </li>
                    
                </ul>
                

                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>
                    @Html.Partial("_LoginPartial")
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - MoneySaver Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/materialize")
    @Scripts.Render()
    @RenderSection("scripts", required: false)
</body>
</html>
